<div class="container mt-5">
  <mat-form-field appearance="outline" class="search-field">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Search Products</mat-label>
    <input matInput
      #searchkeywords
      (keyup)="searchByKeyword(searchkeywords.value)"
      name="searchKey"
      id="searchKey"
      placeholder="Search Any Products">
    <mat-hint>Search</mat-hint>
  </mat-form-field>

  <button mat-button [matMenuTriggerFor]="filterMenu" class="filter-button">
    Filter <mat-icon>filter_list</mat-icon>
  </button>
  <mat-menu #filterMenu="matMenu">
    <button mat-menu-item (click)="filterProducts('none')">None</button>
    <button mat-menu-item (click)="filterProducts('lowToHigh')">Price: Low to High</button>
    <button mat-menu-item (click)="filterProducts('highToLow')">Price: High to Low</button>
  </mat-menu>

  <mat-grid-list cols="4" rowHeight="4:7" gutterSize="16" class="product-grid">
    <mat-grid-tile *ngFor="let p of productDetails" class="product-tile">
      <div class="product-card" (click)="showProductDetails(p.productId)">
        <div class="image-container">
          <img class="home-page-product-image" [src]="p.productImages[0].url" alt="">
          <button *ngIf="isUser()" mat-icon-button class="wishlist-button" [ngClass]="{'wishlisted': p.isWishlisted}" (click)="toggleWishlist(p, p.productId, $event)">
            <mat-icon>favorite_border</mat-icon>
          </button>
        </div>
        <div class="product-info">
          <p class="product-name"><b>{{p.productName}}</b></p>
          <p class="product-description">{{p.productDescription}}</p>
          <div class="price-container">
            <span class="discounted-price">{{p.productDiscountedPrice | currency :'INR'}}</span>
            <span class="actual-price">{{p.productActualPrice | currency : 'INR'}}</span>
          </div>
          <div class="button-container">
            <button mat-flat-button color="accent" class="details-button" (click)="showProductDetails(p.productId, $event)">View</button>
            <button *ngIf="isUser()" mat-icon-button color="primary" class="cart-button" (click)="addToCart(p.productId, $event)">
              <mat-icon class="tick-mark" *ngIf="p.isAddedToCart">done</mat-icon>
              <mat-icon>shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="text-center mt-3" style="padding-bottom: 50px;" *ngIf="showLoadButton">
    <button type="button" mat-raised-button color="primary" (click)="loadMoreProduct()">Load More Products</button>
  </div>
</div>
