<mat-toolbar color="primary" class="bg-navbar">
  <a routerLink="/" class="styled-text">Simply-Cart</a>
  <span class="spacer"></span>
  <button *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active" mat-raised-button class="login-button">Login</button>
  <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button class="logout-button">Logout</button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()" class="bg-navbar">
  <button mat-icon-button class="nav-button" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <button *ngIf="isUser()" mat-icon-button class="nav-button cart-button" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    <span class="cart-count">{{ cartCount }}</span>
  </button>
  <span class="spacer"></span>
  <button *ngIf="isUser()" mat-raised-button class="nav-button" routerLink="/myOrders">Show My Orders</button>
  <button *ngIf="isVendor() || isAdmin()" mat-raised-button class="nav-button" routerLink="/addNewProduct">Add New Product</button>
  <button *ngIf="isVendor() || isAdmin()" mat-raised-button class="nav-button" routerLink="/showAddedProducts">Show Added Products</button>
</mat-toolbar>
