<mat-toolbar color="primary" class="bg-navbar">
  <a routerLink="/" class="styled-text">
    <img src="https://i.pinimg.com/originals/a0/7e/64/a07e64a679218ec421cc5c0c3b5894e5.jpg" class="logo"> Simply-Cart
  </a>
  <span class="spacer"></span>
  <button *ngIf="!isLoggedIn()" routerLink="/login" routerLinkActive="active" mat-raised-button class="login-button">
    <mat-icon>login</mat-icon> Login
  </button>
  <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button class="logout-button">
    <mat-icon>logout</mat-icon> Logout
  </button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()" class="bg-navbar">
  <button mat-icon-button class="nav-button" routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <button *ngIf="isUser()" mat-icon-button class="nav-button cart-button" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    <span class="cart-count">{{ cartCount }}</span>
  </button>
  <button *ngIf="isUser()" mat-icon-button class="nav-button cart-button" routerLink="/wishlist">
    <mat-icon>favorite</mat-icon>
    <span class="wishlist-count">{{ wishlistCount }}</span>
  </button>
  <span class="spacer"></span>
  <button *ngIf="isUser()" mat-raised-button class="nav-button" routerLink="/myOrders">Show My Orders</button>
  <button *ngIf="isVendor() || isAdmin()" mat-raised-button class="nav-button" routerLink="/addNewProduct">Add New Product</button>
  <button *ngIf="isVendor() || isAdmin()" mat-raised-button class="nav-button" routerLink="/showAddedProducts">Show Added Products</button>
  <button *ngIf="isAdmin()" mat-raised-button class="nav-button" routerLink="/orderInfo">Order Information</button>
</mat-toolbar>
